<header class="navbar navbar-light navbar-fixed-top navbar-expand-lg">
	<div class="container">
		<nav class="navbar navbar-expand">
			<a class="navbar-brand" href="/">
			</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a href="/merchant" class="nav-link">New</a></li>
					<li class="nav-item"><a href="/merchant/changed" class="nav-link">Changes</a></li>
					<li class="nav-item"><a href="/merchant/list" class="nav-link">Live</a></li>
					<li class="nav-item"><button class="btn btn-primary">Create new</button></li>
				</ul>
			</div>
		</nav>
	</div>
</header>