header.navbar.navbar-light.navbar-fixed-top.navbar-expand-lg
    .container
        nav.navbar.navbar-expand
            a.navbar-brand(href='/')
            .collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(routerLink="./words", routerLinkActive="active") Словарь
                    li.nav-item
                        a.nav-link(routerLink="./words") Тесты
                    li.nav-item
                        button.btn.btn-primary Create new
